/* Grundlayout für gesamte Seite*/
html,
body {
  height: 100%;
  margin: 0; /*keine Standardabstände*/
  font-family: Roboto, sans-serif;
}

/*Hauptcontainer mit Grid-Layout und einzelnen Darstellungsbereichen*/
.App {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 50px 1fr 25px; /*Aufteilung Header-Inhalt-Footer: pixel = fixe grösse, fraction füllt den restlichen Platz*/
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main-wrapper"
    "footer";
}

/*Zusammenstellung Hauptinhalt und Sidebar*/
.main-content-wrapper {
  grid-area: main-wrapper;
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-areas: "mainarea sidebar";
}

.header {
  grid-area: header;
  background-color: #4285f4;
  color: white;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.sidebar {
  grid-area: sidebar;
  background-color: #f0f0f0;
  padding: 20px;
  border-left: 1px solid #ddd;
  overflow-y: auto; /*Vertikales scrollen möglich, falls nötig wegen Screengrösse*/
  overflow-x: hidden; /* Horizontales Scrollen der Sidebar wird dadurch verhindert */
  color: black;
}

.mainarea {
  grid-area: mainarea;
  padding: 20px;
  background-color: white;
}

.footer {
  grid-area: footer;
  background-color: #4285f4;
  color: white;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}

/*Box um das Diagramm herum*/
.diagramm-box {
  height: 85%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 2px 4px #0000003a;
}
