html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.App {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 60px 1fr 30px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main-wrapper"
    "footer";
}

.main-content-wrapper {
  grid-area: main-wrapper;
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-areas: "mainarea sidebar";
}

.header {
  grid-area: header;
  background-color: #4285f4;
  color: white;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.sidebar {
  grid-area: sidebar;
  background-color: #f0f0f0;
  padding: 15px;
  border-left: 1px solid #ddd;
  overflow-y: auto;
  overflow-x: hidden; /* Horizontales Scrollen der Sidebar wird dadurch verhindert */
  color: black;
}

.mainarea {
  grid-area: mainarea;
  padding: 20px;
  background-color: white;
  gap: 20px;
}

.footer {
  grid-area: footer;
  background-color: #4285f4;
  color: white;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}

.diagramm-box {
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
